body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00264d;
    color: white;
}

.startContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif
}

.startButton {
    width: 300px;
    height: 150px;
    font-size: 45px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif
}

.startButtonText{
    user-select: none;
    position: absolute;
    white-space: nowrap;
    user-select: none;
    font-size:45px;
    color: black;
}